.background-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.wrapper {
  overflow: hidden;
}

.logo-img {
  position: absolute;
  left: calc(50% - 70px);
  bottom: 5px;
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

header {
  color: white;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  background-color: #33495E;
}

header h1 {
  margin: 5px;
  font-weight: lighter;
  text-transform: lowercase;
}

.weatherTitle {
  text-align: center;
}

.searchWeatherContainer {
  background: rgba(0, 0, 0, .4);
  padding: 10px;
  text-align: center;
}

#inputCity {
  font-weight: lighter;
  margin-right: 1%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: 20px;
}

#getWeatherButton {
  font-weight: lighter!important;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #33495E;
  color: white;
  text-transform: lowercase;
  font-weight: lighter;
}

.weatherDiv {
  font-weight: lighter;
  margin: 20px;
  font-size: 20px;
  color: white;
}

.locationtitle h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .4);
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

.weather__info {
  color: white;
  background: rgba(0, 0, 0, .4);
  width: fit-content;
}

.weather__info p {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  padding: 5px;
  padding-right: 10px;
}

.weather__info p:last-child {
  border: none;
}

footer {
  background-color: #33495E;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: lowercase;
  font-weight: lighter;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .locationtitle h1 {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .4);
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .locationtitle h1 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .4);
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
  }
}