.wrapper {
  height: 100%;
}


@media screen and (min-width: 1025px) {

  body {
    background-image: linear-gradient(#b0f4e6, lightcyan);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header {
    background-image: linear-gradient(#12d3cf, #67eaca);
    color: white;
    font-family: "Impact";
    text-align: center;
    font-size: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .weatherTitle {
    text-align: center;
  }

  .searchWeatherContainer {
    background-image: linear-gradient(#67eaca, #b0f4e6);
    border-bottom: 5px solid #12d3cf;
    padding: 10px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  #inputCity {
    font-size: 20px;
    margin-left: 35%;
    margin-right: 1%;
  }

  #getWeatherButton {
    font-size: 20px;
    margin-right: 35%;
    border-radius: 10px;
  }

  .weatherWrapper {
  }

  .weatherDiv {
    background-image: url("GIFs/rain.gif");
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Impact";
    font-size: 35px;
    border-radius: 10px;
    border: 5px solid #12d3cf;
    color: white;
    margin-bottom: 25px;
  }

  .weather__info {
    color: white;
    background-color: black;
    width: 30%;
    opacity: 0.5;
    height: 100%;
    padding: 0.1px;
    border-radius: 5px;
    padding-left: 50px;
  }

  .orkarInteFixaFooter {
    height: 50px;
  }

  footer {
    background-color: black;
    color: white;
    font-family: "Impact";
    font-size: 25px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
  }


}

@media screen and (min-width: 501px) and (max-width: 1024px) {

}

  @media screen and (max-width: 500px) {

    body {
      background-image: linear-gradient(#b0f4e6, lightcyan);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    header {
      background-image: linear-gradient(#12d3cf, #67eaca);
      color: white;
      font-family: "Impact";
      text-align: center;
    }

    .weatherTitle {
      text-align: center;
    }

    .searchWeatherContainer {
      background-image: linear-gradient(#67eaca, #b0f4e6);
      border-bottom: 5px solid #12d3cf;
    }

    #inputCity {
      font-size: 20px;
      margin-left: 35%;
      margin-right: 1%;
    }

    #getWeatherButton {
      font-size: 20px;
      margin-right: 35%;
      border-radius: 10px;
    }

    .weatherWrapper {
    }

    .weatherDiv {
      background-image: url("GIFs/rain.gif");
      background-size: cover;
      margin-left: 50px;
      margin-right: 50px;
      font-family: "Impact";
      font-size: 35px;
      border-radius: 10px;
      border: 5px solid #12d3cf;
      color: white;
      margin-bottom: 25px;
    }

    .weather__info {
      color: white;
      background-color: black;
      width: 30%;
      opacity: 0.5;
      height: 100%;
      padding: 0.1px;
      border-radius: 5px;
      padding-left: 50px;
    }

    .orkarInteFixaFooter {
      height: 50px;
    }

    footer {
      background-color: black;
      color: white;
      font-family: "Impact";
      font-size: 25px;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      margin-top: 50px;
    }


  }
