
@media screen and (min-width: 1025px) {

  body {
    margin: 0px;
    padding: 0px;
    background-color: aqua;
  }

  .weatherTitle {
    text-align: center;
  }

  .searchWeatherContainer {
    text-align: center;
  }

  #inputCity {
    font-size: 20px;
    margin-left: 35%;
    margin-right: 1%;
  }

  #getWeatherButton {
    font-size: 20px;
    margin-right: 35%;
    border-radius: 10px;
  }

  .weatherDiv {
    background-color: white;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Impact";
    font-size: 25px;
    border-radius: 10px;
    border: 5px dotted black;
  }

}

@media screen and (min-width: 501px) and (max-width: 1024px) {

}

  @media screen and (max-width: 500px) {

  }
